<!doctype html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body>
    <h1>Neighbor Chat</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/thread/new">New Thread</a></li>
    </ul>
    {{{body}}}
  </body>
</html>