extends layout

block content
  h1= title
  p= post

  h3 Reply
  form(action='/reply',method='post')
    p Title
    input(name='title')
    p Post
    textarea(name='post')
    button(type='submit') Submit